.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 23rem;
}

.logo {
    width: 4rem;
    height: 3rem;
    margin: .6rem;
    cursor: pointer;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 3rem;
    color: #000;
    margin-right: 10rem;
    margin-top: -0.5rem;
}

.navbar {
    width: 100%;
    min-height: 6vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    transition: all .7s ease-in;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
}

li {
    list-style: none;
    appearance: none;
    background-color: var(--orange);
    border-radius: 4rem;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0.5rem;
    min-width: 0;
    outline: none;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

li:disabled {
    pointer-events: none;
}

li:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    cursor: pointer;
    color: black;
    transform: scale(1.1);
    transition: all .4s ease-in-out .5s;
    transition-delay: 100ms;
    color: #fff;
}

li:active {
    box-shadow: none;
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    .header>:nth-child(2) {
        position: fixed;
        right: 2rem;
        z-index: 99;
    }

    .header-menu {
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}